
.end__bg{
    position: relative;
    background-color: #111;
    padding: 135px;
    margin-top: 117px;

}
.end__title{
    font-family: 'Inknut Antiqua';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.end__red-block{
    position: absolute;
    background-color: #FF564F;
    width: 470px;
    height: 288px;
    display: flex;
    flex-direction: column;
    top: 128px;
    right: 246px;
}
.line4{
    max-width: 1170px;
    margin: 105px auto;
    background: #FFFFFF;
}
.red__top{
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 43px;
    margin-left: 48px;
}
input{
    margin-left: 48px;
    width: 356px;
    height: 48px;
    border-radius: 3px;
    border: none;
    padding-left: 16px;
    margin-top: 21px;
}
.mail{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: rgba(17, 17, 17, 0.50133);
}
.red__bot{
    border-radius: 3px;
    background-color: crimson;
    border: none;
    width: 374px;
    height: 48px;
    margin-left: 48px;
    margin-top: 32px;
}
.red__bot{
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FFFFFF;
    border: none;
    transition: ease-out 0.4s;
    position: relative;
    z-index: 1;
}
.red__bot:hover{
    color: #111111;
    cursor: pointer;
}
.red__bot:before{
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: "";
    background-color: darksalmon;
    border-radius: 3px;
}
.red__bot:hover:before{
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: -1;
}

.end__agency{
    display: flex;
    flex-direction: column;
    margin-top: 77px;
}

.agency__title{
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.agency__descr{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: rgba(255, 255, 255, 0.502972);
    margin-top: 35px;
}

.end__address{
    display: flex;
    flex-direction: column;
    margin-top: 77px;
    margin-left: 157px;
}

.address__title{
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.address__descr{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: rgba(255, 255, 255, 0.502972);
    margin-top: 32px;
}
.address__about{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #FFFFFF;
    margin-top: 16px;
}

.end__menu{
    display: flex;
    flex-direction: column;
    margin-top: 77px;
    margin-left: 108px;
}

.menu__title{
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.menu__descr{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #FFFFFF;
    margin-top: 32px;
}
.menu__about{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #FFFFFF;
    margin-top: 8px;
}
.end__bot{
    display: flex;
    padding-bottom: 60px;
}
.social{
    margin-top: 77px;
    margin-left: 208px;
}
.container__end{
    max-width: 1920px;
    margin: 0 auto;
}